<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="updateAlumno()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" maxLenght="15"required></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido" type="text" maxLenght="15" required></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Segundo Apellido</ion-label>
        <ion-input formControlName="sapellido" type="text" maxLenght="15" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nacionalidad</ion-label>
        <ion-input formControlName="nacionalidad" type="text" maxLenght="15" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input formControlName="edad" type="number" maxLenght="2" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input formControlName="direccion" type="text" maxLenght="30" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-input formControlName="comuna" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tutor</ion-label>
        <ion-input formControlName="tutor" type="text" maxLenght="20" required></ion-input>
      </ion-item> 
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Actualizar Alumno
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
